<div class="container">

  <h1>אחמש"ים יוצאים</h1>
  <div class="bubbles-container">
      <app-pit-boss-bubble></app-pit-boss-bubble>
      <app-pit-boss-bubble></app-pit-boss-bubble>
      <app-pit-boss-bubble></app-pit-boss-bubble>
      <app-pit-boss-bubble></app-pit-boss-bubble>      
  </div>

  <h1>אחמש"ים נכנסים</h1>  
  <div class="bubbles-container">
      <app-pit-boss-bubble></app-pit-boss-bubble>
      <app-pit-boss-bubble></app-pit-boss-bubble>
      <app-pit-boss-bubble></app-pit-boss-bubble>
      <app-pit-boss-bubble></app-pit-boss-bubble>      
  </div>

</div>
